body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background: #121212;
}

aside {
  background: #171717;
  box-shadow: 15px 0 15px rgba(255 255 255 / 20%), -15px 0 15px rgba(255 255 255 / 20%);
}

.player,
.computer,
.game-board {
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.avatar,
.name,
.wins {
  margin-top: 1vw;
}

.avatar {
  height: 10vw;
  width: 10vw;
  font-size: 8vw;
  text-align: center;
  cursor: pointer;
  background: #242424;
  border-radius: 20rem;
  border: solid 2px white;
}

.name {
  font-size: 4rem;
}

.wins {
  font-size: 3rem;
}

.game-name {
  font-size: 5.8rem;
  margin-top: 3vh;
  margin-bottom: 0;
  text-align: center;
}

.game-header {
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 4vh;
}

.game-diff {
  width: 22%;
  color: white;
  background-color: rgba(0 0 0 / 35%);
  font-size: 1.3rem;
  position: absolute;
  border-radius: 12px;
  cursor: pointer;
}

.game-diff:hover {
  background-color: rgba(0 0 0 / 80%);
}

.classic {
  height: 18%;
  text-align: center;
  top: 35%;
}

.hard {
  height: 24%;
  text-align: center;
  top: 60%;
}

.big-diff {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.change-diff-button {
  height: 6%;
  width: 10%;
  position: absolute;
  top: 90%;
  left: 3.2%;
  color: inherit;
  background: #121212;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  cursor: pointer;
}

.change-diff-button:hover {
  background-color: rgba(0 0 0 / 80%);
}

.hidden {
  display: none;
}

.choices-container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 3vw;
  row-gap: 2vw;
}

.choice {
  position: relative;
  margin-top: 1vh;
  height: 18vw;
  width: 18vw;
  border-radius: 1rem;
  box-shadow: 10px 0px 15px rgba(0 0 0 / 20%), -10px 0px 15px rgba(0 0 0 / 20%), -10px 0px 15px rgba(0 0 0 / 20%), 10px 0px 15px rgba(0 0 0 / 20%);
  cursor: pointer;
}

.choice > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 700ms;
}

.choice:hover > img {
  opacity: 1;
}

.rock {
  background-color: darkgrey;
}

.paper {
  background-color: forestgreen;
}

.scissors {
  background-color: magenta;
}

.fire {
  background-color: firebrick;
}

.water {
  background-color: blue;
}

.choice-bg-circle {
    height: 40%;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 5rem;
    border-radius: 10rem;
    box-shadow: 0 5px 15px 10px rgba(0 0 0 / 30%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.rock > div {
  background-color: rgb(39, 39, 39);
}

.paper > div {
    background-color: rgb(4, 40, 10);
}

.scissors > div {
    background-color: rgb(53, 5, 46);
}

.fire > div {
    background-color: rgb(52, 0, 0);
}

.water > div {
    background-color: rgb(0, 1, 52);
}
